<html lang="en">
<body style="font-family: Arial, sans-serif; background-color: #f4f4f4; padding: 20px;">
<div style="max-width: 600px; margin: auto; background: white; padding: 30px; border-radius: 8px; box-shadow: 0 0 10px rgba(0,0,0,0.1);">
    <h2 style="color: #333;">Xin chào <span th:text="${userFullName}"></span>,</h2>
    <p>Tài khoản của bạn đã bị xóa bởi <span th:text="${userDelete}"></span>.</p>
    <p>Vui lòng liên hệ với email <span style="font-weight: bold;" th:text="${emailSupport}"></span> để được hỗ trợ</p>
    <p style="margin-top: 40px;">Trân trọng,<br><br> Đội ngũ hỗ trợ TXND FanZone</p>
</div>
</body>
</html>